@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "Raleway";
}

:root {
  --color1: #eeb544;
  --color2: #232525;
  --color3: #4b5353;
  --color4: #bbbbbb;
  --color5: #ececec;

  --s1: 4px;
  --s2: 8px;
  --s3: 12px;
  --s4: 16px;
  --s5: 24px;
  --s6: 32px;
  --s7: 48px;
  --s8: 64px;
  --s9: 96px;
  --s10: 128px;
  --s11: 192px;
  --s12: 256px;
  --s13: 384px;
  --s14: 512px;
  --s15: 640px;
  --s16: 768px;
}

.hide-header {
  height: 0;
  padding: 0 var(--s4);
}

.hide-nav {
  transform: translateX(100%);
}

button {
  display: flex;

  background: none;
  border: none;

  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

& header {
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: fit-content;
  padding: var(--s4);

  background-color: var(--color1);
  background-image: url(./assets/yellow-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  & img {
    width: var(--s8);
  }

  & nav {
    display: none;
  }
}

& #menu {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: var(--s4);

  width: 50vw;
  height: 100vh;
  padding: var(--s4);

  background-color: var(--color2);

  z-index: 99;

  button {
    margin-left: auto;

    &:hover {
      transform: scale(1.1);
    }
  }

  & a {
    padding: var(--s1);

    border-radius: var(--s1);

    color: var(--color5);
    font-size: var(--s4);

    &:hover {
      background-color: var(--color5);
      color: var(--color2);
    }
  }
}

#inicio {
  display: flex;

  flex: 1;

  min-height: 100vh;

  background-image: url(./assets/piso.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--color5);
  text-align: center;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--s3);
    flex: 1;

    padding: var(--s5);

    background-color: #000000a6;

    & h1 {
      font-size: var(--s6);
    }

    & p {
      line-height: var(--s5);
    }

    a {
      width: fit-content;
      padding: var(--s4);

      background-color: var(--color1);
      border-radius: var(--s1);

      color: var(--color5);
      font-size: var(--s4);
      font-weight: 700;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#sobre {
  display: flex;
  flex-direction: column;
  gap: var(--s4);

  background-color: var(--color2);
  background: url(assets/gray-background.jpg);

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--s4);

    padding: var(--s7) var(--s6);

    & h2,
    p {
      color: var(--color5);
      line-height: var(--s5);
    }
  }

  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    background-color: var(--color5);

    & h2,
    h3,
    p {
      color: var(--color2);
    }

    & div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--s6);

      & article {
        gap: var(--s2);

        width: 100%;
        max-width: var(--s15);
        margin: 0 auto;
        padding: var(--s5);

        background-color: var(--color1);
        box-shadow: 0 0 8px #0000009f;
        border-radius: var(--s1);

        &:hover {
          background-color: #dda637;
        }
      }

      & h3,
      p {
        font-size: var(--s4);
        line-height: var(--s5);
      }
    }
  }
}

#serviços {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s6);

  padding: var(--s6);

  background-color: var(--color4);

  & h2 {
    margin-bottom: var(--s4);
    text-align: center;
  }

  & div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s6);

    width: 100%;

    & article {
      display: flex;
      flex-direction: column;
      gap: var(--s2);

      width: 100%;
      max-width: var(--s14);
      padding: var(--s3);
      margin: 0 auto;

      background-color: var(--color5);
      box-shadow: 0 0 8px #0000009f;
      border-left: var(--s1) solid var(--color1);
      border-radius: var(--s1);

      &:hover {
        transform: translateX(var(--s1));
      }
    }
  }
}

#pisos {
  display: flex;
  flex-direction: column;

  padding: var(--s6);

  background-color: var(--color5);

  & h2 {
    margin-bottom: var(--s4);
    text-align: center;
  }

  & div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s4);

    & article {
      display: flex;
      flex-direction: column;
      gap: var(--s2);

      padding: var(--s3);

      max-width: var(--s13);
      width: fit-content;

      margin: 0 auto;
      padding: var(--s2);

      border: none;
      border-radius: 0px;
      box-shadow: 0 0 8px #0000009f;

      & img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }

      & p {
        font-size: var(--s3);
        text-align: justify;
      }
    }
  }
}

#whatsappButton {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  flex: 1;

  width: var(--s8);
  margin: var(--s4);
  padding: var(--s1);
  aspect-ratio: 1/1;

  background-color: #25d366;
  border-radius: var(--s2);
  opacity: 20%;

  &:hover {
    opacity: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;

  padding: var(--s4);

  background-color: var(--color2);
  background: url(assets/gray-background.jpg);

  & > div {
    display: flex;
    gap: var(--s4);

    width: fit-content;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: var(--s1);

      padding: var(--s1);

      font-size: var(--s4);

      & h4 {
        color: var(--color4);
      }

      & a {
        display: flex;
        align-items: center;
        gap: var(--s1);

        color: var(--color3);
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & > hr {
    width: 100%;
    margin: var(--s6) auto;
    border: none;
    border-bottom: 1px solid var(--color3);
  }

  & img {
    width: var(--s9);
    height: min-content;
    margin: 0 auto;

    filter: invert(100%);
  }

  & #dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--s4);

    margin: 0 auto;

    & span {
      margin: 0 auto;
      color: var(--color4);

      & a {
        color: var(--color5);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & span {
    color: var(--color3);
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .btn-menu {
    display: none;
  }

  header nav {
    display: flex;
    gap: var(--s4);

    & a {
      padding: var(--s2);

      border-radius: var(--s1);

      color: var(--color2);

      &:hover {
        background-color: var(--color2);
        color: var(--color5);
      }
    }
  }
}
